vaadin-scroller[slot="drawer"] {
  padding: var(--lumo-space-s);
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--lumo-space-s);
  padding: var(--lumo-space-s) var(--lumo-space-m);
  min-height: var(--lumo-size-xl);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}

::part(input-field) {
  background: transparent;
  border-style: solid;
  border-width: thin;
  border-color: var(--border-color);
  border-radius: var(--lumo-border-radius-m);
}

a.vaadin-menu-bar-button:hover,
[highlight].vaadin-menu-bar-button  {
  color: var(--border-color);
  cursor: pointer;
}
