@import url('./main-layout.css');
@import url('@fontsource/roboto/index.css');

html {
  --lumo-primary-color: #7e7373;
  --lumo-primary-color-50pct: #E3E0DEFF;
  --lumo-primary-color-10pct: #E3E0DEFF;
  --lumo-primary-text-color: #7e7373;
  --lumo-base-color: #efebe9;
  --lumo-error-color: #d34e38;
  --lumo-error-text-color: #d34e38;
  --lumo-success-color: #558b2f;
  --lumo-success-text-color: #558b2f;
  --lumo-body-text-color: #212121;
  --lumo-shade: #212121;

  --lumo-border-radius-s: 1px;
  --lumo-border-radius-m: 2px;
  --lumo-border-radius-l: 4px;
  --lumo-font-family: Roboto;

  --border-color: #a8a19f;
}

input[role='combobox'] {
  cursor: pointer;
}

vaadin-button {
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
}

vaadin-button:hover  {
  cursor: pointer;
}

.page-view,
.grid-view {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: var(--lumo-size-l);
}

.header-action-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
}

.header-action-panel .info-container .header {
  display: block;
  font-size: xx-large;
}

.header-action-panel .info-container .sub-header {
  display: block;
  font-size: x-large;
}

.header-action-panel .info-container .description {
  display: block;
  color: var(--lumo-contrast-60pct);
  font-size: medium;
}
.header-action-panel .action-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button-layout {
  padding-top: var(--lumo-size-xs);
  margin-top: 0;
}

.info-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}


/*      GRID       */
.action-column {
  padding: 0;
  margin: 0;
}
.action-column vaadin-button {
  padding: 0;
  margin: 0;
}
.action-column vaadin-button:not(:last-child) {
  margin: 0 0 0 2px;
}

.grid-button {
  background: none;
}

.grid-button:hover, [highlight].icon-button {
  color: var(--border-color);
}

/*      INFO COLUMN      */

.info-column {
  display: flex;
  align-items: center;
}

.info-column img {
  flex-shrink: 0;
  height: var(--lumo-font-size-xxxl);
  width: var(--lumo-font-size-xxl);
  margin: 4px calc(var(--lumo-space-l)) 4px 0;
}

.info-column .book-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.info-column .book-data .book-author {
  color: var(--lumo-contrast-50pct);
  font-size: 80%;
}

.button-icon {
  margin-right: 6px;
}


/* NAVIGATION */

.menu-item {
  color: #212121;
  margin-right: 45px;
  padding: 0px;
}

.menu-item:hover,
[highlight].menu-item  {
  color: var(--border-color);
  cursor: pointer;
}


a.nav-item .nav-text {
  /*padding-left: 15px;*/
  font-size: var(--lumo-font-size-s);
}

a.nav-item .nav-icon {
  font-size: var(--lumo-font-size-l);
}

a.nav-item {
  color: #212121;
  text-decoration: none;
}

a.nav-item:hover,
a[highlight].nav-item  {
  /*background-color: var(--lumo-contrast-10pct);*/
  color: var(--border-color);
}

.router-link {
  color: #212121;
}

.image-upload {
  border-style: solid;
  border-width: thin;
  border-color: var(--border-color);
  border-radius: var(--lumo-border-radius-m);
  height: 300px;
  width: 200px;
  margin-right: 10px;
}






