@import url('./main-layout.css');
    [theme~="dark"] {
      --lumo-base-color: hsl(0, 0%, 11%);
      --lumo-primary-color: hsl(39, 23%, 51%);
      --lumo-primary-color-50pct: hsla(39, 23%, 51%, 0.5);
      --lumo-primary-color-10pct: hsla(39, 23%, 51%, 0.1);
      --lumo-shade-5pct: hsla(42, 0%, 99%, 0.05);
      --lumo-shade-10pct: hsla(42, 0%, 99%, 0.1);
      --lumo-shade-20pct: hsla(42, 0%, 99%, 0.2);
      --lumo-shade-30pct: hsla(42, 0%, 99%, 0.3);
      --lumo-shade-40pct: hsla(42, 0%, 99%, 0.4);
      --lumo-shade-50pct: hsla(42, 0%, 99%, 0.5);
      --lumo-shade-60pct: hsla(42, 0%, 99%, 0.6);
      --lumo-shade-70pct: hsla(42, 0%, 99%, 0.7);
      --lumo-shade-80pct: hsla(42, 0%, 99%, 0.8);
      --lumo-shade-90pct: hsla(42, 0%, 99%, 0.9);
      --lumo-error-color-50pct: hsla(3, 70%, 64%, 0.5);
      --lumo-error-color-10pct: hsla(3, 70%, 64%, 0.1);
      --lumo-success-color-50pct: hsla(145, 54%, 40%, 0.5);
      --lumo-success-color-10pct: hsla(145, 54%, 40%, 0.1);
      --lumo-shade: hsla(42, 0%, 99%, 1);
      --lumo-primary-text-color: hsl(46, 36%, 63%);
      --lumo-error-color: hsl(3, 70%, 64%);
      --lumo-error-text-color: hsl(3, 49%, 51%);
      --lumo-success-color: hsl(145, 54%, 40%);
      --lumo-success-text-color: hsl(145, 42%, 45%);
      --lumo-body-text-color: hsla(214, 0%, 95%, 0.9);

    }
